* {
  padding: 0px;
  margin-top: 0px;
  display: fit-content;
  zoom: 120%;
  box-sizing: border-box;
}

main {
   padding-top: 254px;
  padding-bottom: 50px;
  bottom-margin: 1000px;
  background-color: #282a42;
}

body {
  background-color: #21222c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  line-height: 1.6;
  
  margin: 0;
  height: 100vh;
  overflow: hidden

  
  
}




.exercise-header {
  position: fixed;
  background-color: rgb(14, 13, 13);
  width: 100%;
  display: flex;}


 

.top-nav {
  width: 900px;
  max-width: 900px;
  margin-top: 20px;
  display: flex;
  height: 100%;
}

.top-nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  height: 100%;
  align-items: center;
}


.top-nav a {
  color: white;
  padding: 6px 12px;
  border: 1px solid #da5252;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  gap: 12px;
}

.top-nav a:hover {
  background-color: #da5252;
}

.top-nav .back-button a {
  border-color: white;
}

.top-nav .back-button a:before {
  content: '\2190';
}

.top-nav .back-button a:hover {
  background-color: white;
  color: black;
}

.exercise {
  padding: 30px;
  border: 1px solid gray;
  border-radius: 30px;
  color: rgb(124, 23, 23);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.exercise h3 a {
  text-decoration: none;
  color: rgb(240, 10, 10);
  border-bottom: 1px solid white;
}

.exercise p {
  line-height: 20px;
}
